/* Dashboard Cards */
.d-flex{
    margin-left: 100px;
}

.dashboard-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    width: 100%; /* Makes it responsive to the parent container */
    max-width: 250px; /* Change this value to manipulate the width */
    color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

/* Icons inside the cards */
.dashboard-card .icon-container {
    font-size: 28px;
    display: grid;
    justify-content: left;
    width: 25%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
}

/* Text container */
.dashboard-card .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Ensures text fills remaining space dynamically */
}

/* Title styles */
.dashboard-card .text-container span {
    font-size: 14px;
    opacity: 0.8;
}

/* Number styles */
.dashboard-card .text-container h3 {
    font-size: 24px;
}

/* Responsive width adjustments */
@media (max-width: 1200px) {
    .dashboard-card {
        max-width: 220px; /* Slightly smaller on medium screens */
    }
}

@media (max-width: 992px) {
    .dashboard-card {
        max-width: 180px; /* Smaller for tablets */
    }
}

@media (max-width: 768px) {
    .dashboard-card {
        max-width: 100%; /* Full width on mobile */
    }
}

/* Header */
.navbar {
    background-color: #222b2a !important;
    height: 60px;
}

/* Notificaciones */
.navbar .fa-bell {
    cursor: pointer;
}

.navbar .badge {
    font-size: 12px;
    padding: 4px 6px;
}

/* Perfil */
.navbar .dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .dropdown-menu {
    min-width: 200px;
    border-radius: 10px;
}

.navbar .dropdown-item:hover {
    background-color: #f1f1f1;
}

.navbar img {
    border: 2px solid white;
}
